* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    height: 100vh;
}

.bussines-card {
    display: none;
}

.angular {
    background: url("./assets/img/praha.jpg");
}

.commercial {
    background: url("./assets/img/workshop.jpg");
}

.react {
    background: url("./assets/img/pattern.jpg");
}

.about-me {
    background: url("./assets/img/portfolio.jpg");
}

.box {
    height: 100%;
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}


.box .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.4);
}

.box.narrow-screen {
    background-size: auto 100%;
}

.box-content {
    width: 80%;
    min-height: 55%;
    display: inline-block;
    padding-top: 10px;
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* text */
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-size: 125%;
}

.box-description {
    color: white;
    padding: 0 10%;
}

.box-description a {
    font-weight: 600;
}

.box-header {
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    margin-bottom: 20px;
}

.box-icon {
    font-size: 30px;
}

a:hover {
    color: gray;
}

.fa-external-link {
    font-size: 80%;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;
}

@media only screen and (min-width: 768px) {
    .bussines-card {
        display: initial;
        margin: auto;
        padding: 0.4em;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        width: 20%;
        height: 20%;
        max-height: 220px;
        max-width: 290px;
        text-align: center;
        font-family: 'Fredericka the Great', cursive;
        font-weight: lighter;
        border: #131026 solid 4px;
    }

    .bussines-card-inner {
        background-color: #131026;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .bc-content {
        min-width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 30px;
        letter-spacing: 2.5px;
    }

    .bc-content p {
        padding: 0.2em;
    }

    .bc-content .title {
        position: relative;
        z-index: 1;
    }

    .bc-content .title:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 33%;
        border-bottom: 1px solid white;
        margin: 0 33%;
    }

    .bc-content .icon {
        font-size: 29px;
        color: #282251;
    }

    .bc-content .icon:hover {
        color: #362e6d;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .box-description {
        color: transparent;
        transition: 2s;
    }

    .box-description.visible {
        color: white;
    }

    .box:hover .layer {
        background-color: rgba(0, 0, 0, 0.8);
    }
}